<h2>Your profile information</h2>

<ul>
	<li>Username: <%= @user.username %></li>
	<li>Email: <%= @user.email %></li>
	<li>Password: *********</li>
</ul>

<!--
<ul>
	<li><%= link_to "Edit my profile", :action => "edit", :controller => "user" %></li>
</ul>
-->
